*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    background-color: rgba(223, 232, 245, 0.906);

}
nav{
    background-color: white;
    text-align: center;
    padding: 20px;
}
a{
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
    padding: 20px;
}
a:hover{
    background-color: antiquewhite;
    padding: 5px 20px;
    color: rgb(195, 0, 255);
    border-radius: 10px;
}