
body {
  background-image: url(./Photo-1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;   
}



.table-outer{

    border-radius: 0px 15px;
    border: 4px rgb(252, 252, 252) solid;
    color: white;
    margin-bottom: 20px;
}
form h1{
    color: white;
    text-decoration: underline;
}
.table-outer legend{
    background-color: blue;
    background: linear-gradient(to right, blue, red);
    border-radius: 0px 15px;
    padding: 10px;
    font-size: 14px;
}


