body {
    background-color: #d1e2f9;
}

/* site heading */
.coustomHeading {
    font-size: 4rem;
    font-weight: 600;
    color: rgba(174, 116, 231, 0.239);
}


.main-Card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
}
.time-display {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgba(138, 24, 253, 0.705);
}
.card-body h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgba(167, 143, 192, 0.472);
}
.allBtn button{
    font-size: 1rem;
    font-weight: 600;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.allBtn button:nth-child(1){
    background-color: rgba(21, 165, 71, 0.616);
    color: white;
}
.allBtn button:nth-child(2){
    background-color: rgba(247, 1, 1, 0.631);
    color: white;
}
.allBtn button:nth-child(3){
    background-color: rgba(211, 170, 8, 0.705);
    color: white;
}

.allBtn button:nth-child(1):hover{
    background-color: rgba(11, 120, 49, 0.616);
}
.allBtn button:nth-child(2):hover{
    background-color: rgba(185, 19, 19, 0.631);
}
.allBtn button:nth-child(3):hover{
    background-color: rgba(139, 114, 13, 0.705);
}