*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    height: 98vh;
    border: 8px solid rgb(121, 114, 250);
}
.box1{
    width: 80%;
    height: 75px;
    background-color: rgb(77, 70, 37);
    border: 4px solid black;

    /* position: absolute; */
    margin: 30px auto;

}
.box2{
    width: 70%;
    height: 75px;
    background-color: rgb(183, 114, 246);
    border: 4px solid black;
    /* position: absolute; */
    margin:250px auto;
    /* top: 50%; */
}
.box3{
    width: 80%;
    height: 75px;
    background-color: rgb(77, 70, 37);
    border: 4px solid black;

    /* position: absolute; */
    margin: 250px auto;

}
