*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.body{
    background-color: rgb(26, 135, 230);
}
.container h1{
    text-align: center;
    padding: 15px 0px;
    font-size: 5rem;
}
.inner{
    /* background-color: rgb(14, 186, 186); */
    height: 280px;
    width: inherit;
    position: relative;
}
.inner .image1,.image2{
    height: 250px;
    width: 250px;
    border: 4px solid brown;
}
.inner .image1{
    position: absolute;
}
.inner .image2{
    position: absolute;
    right: 0;
    
}
.inner .para{
    line-height: 40px;
    height: 250px;
    width: 650px;
    position: absolute;
    top: 0;
    left: 23%;
    font-size: 1.4rem;
}
.inner img{
    height: inherit;
    width: inherit;
}
.para2 p{
    line-height: 30px;
}